/*header css*/
/*.headerStyle{
  
}
.headText{
text-align: center;
align-items: center;
position: relative;
top: 250px;


}
.headText h2{
   font-size: 60px;
  
    
    }
    .headText h3{
        font-size: 28px;
         
         
         }*/

/*navbar css*/
.navbar{
    width: 100%;
    height: 70px;
    background-color: #00148554;
    position: fixed;
    z-index: 1;
    padding-bottom: 15px;
    
}
.colorChange{
    background-color: #001385;
}
.navbarItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.navLinks{
    display: flex;
    padding: 10px;
}
.navLinks li{
 
   list-style: none;
   color: var(--white);
   font-size: 20px;
}
.navLinks a{
 text-decoration: none;
 margin-left: 50px;
 color: var(--white);
 }
 .navLinks a:hover{
    text-decoration: underline;
   
    color: var(--secondary);
    }
    .navLinks a:focus{
    
      color: var(--secondary);
      }
      /*vav bar drawer styles*/
 .DrawerMenu{
    display: none;
 }
 .DrawerLinks li{
  margin: 30px; 
  list-style: none;
 }
 .DrawerLinks a{
  text-Decoration: none; 
  color: var(--white);
 }
 .DrawerLinks a:focus{
  color: var(--secondary);
 }
 .togglebtn{
  transition-duration: 0.5s;
transition-timing-function: ease-in;
transition-delay: 0.3s;

 }
/*all pages styles*/
.pagescontainer{
    width: 100%;
    height: 100%;
    align-items: center;
     justify-content: center;  
   }
   
.pagesLayoutContainer{
    width: 100%;
    height: 500px;
   justify-content: space-around;
    display: flex;
    
  }

  /*slide show*/
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100%;
    padding: 20px;
    width: 100%;
    object-fit: cover;
      transition: all .3s ease;
     
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background:  var(--white);
    text-align: center;
  }

  .slideShow{
    margin: 0px 180px 0 180px;
  }
  .each-slide-effect .slideImg{
    width: 380px;
    
   }
   .slideImg:hover{
    transform: scale(1.1);
   }
  /*home page styles*/
  /*.sections{
    margin:0 150px 0 150px;
  }*/
  .sectionHome{
    width:100%;
    height:100%;
    display:flex; 
    justify-content: center;
    text-align: left;
    align-items: center;
    margin:50px 0px 50px 0px;  
  }
  
  .sectionDetails{
    width:800px;
     height:400px;
    margin: 50px;
      object-fit: cover;
      transition: all .3s ease;
  }
  /*bonner button styles*/
 .bonnerDonateBtn{
 
   justify-content: center; 
  
 }
 .bonnerDonateBtn button{
  margin: 20px;
  width: auto;
  justify-content: left;
  text-align: start;
  align-items: center;
 }

.bonner{
  width: 100%;
   height:100% ;
    background-Color:#001385;
      text-Align:center;
       margin:0;
}



/*about page*/
.about{
  margin:30px 150px 50px 150px;
}

.aboutText{
  margin:50px ;

}
/*footer styles*/
.topfooter{
  background-color: #001385;
   width: 100%;
   height: 100%;
}
.topFooterItems {
  width: 100% ;
  height: 100% ;
  display: flex ;
  flex-Wrap: wrap;
  justify-Content: center;
  align-Items: center;
}


  @media only screen and (max-width: 1100px) {
    .sections{
        margin:  150px;
      }
   }


  @media only screen and (max-width: 900px) {

    /* navbar responsive styles*/
   .navLinks{
    display: none;
   }
   .DrawerMenu{
    display: block;
 }

 .donatebtn{
    display: none; 
 }

   /* slideShow responsive styles*/
  .slideShow{
    margin: 0;
    justify-content: center;
    align-items: center;
  }
   /* section responsive styles*/

   .sectionHome{
    width:100%;
    height:100%;
    flex-direction: column;
   
  }
  .sectionDetails{
    width:fit-content;
     height:100%;
      margin:30px; 
      overflow: hidden;
  }
  /*about responsive styles*/
  .about{
    margin:30px;
  }
  /*bonner responsive styles*/
.bonnerDonateBtn{
  flex-direction: column;
}
/*footer responsive styles*/
.topfooter{
  align-items: start;
  justify-content: left;
  text-align: left;

}
.topFooterItems {
 
  justify-Content: left;
 align-items: start;
}
  }


  @media only screen and (max-width: 500px) {
  
   /* drawerresponsive styles*/
   .DrawerMenu{
    margin: 20px;
   }
  /* slideShow responsive styles*/
 .each-slide-effect .slideImg{
  width: 280px;
  padding: 0;
 }
/* header responsive styles*/
 .headText{
  position: relative;
  top: 200px;
  
  }
   }